* {
  font-family: 'Times New Roman', 'Serif';
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  margin: 45px;
}

.debug_dump {
  background-color: #eaeaea;
  border-radius: 2px;
  border: 1px solid grey;
  clear: both;
  float: left;
  margin-top: 45px;
  padding: 6px;
  width: 100%;
}
